src/MShop.API.Customer/.vs/
src/MShop.API.Consumer/bin/
src/MShop.API.Consumer/obj/

src/MShop.Application/.vs/
src/Mshop.Application/bin/
src/Mshop.Application/obj/

src/MShop.Broker.Cart/.vs/
src/MShop.Broker.Cart/bin/
src/MShop.Broker.Cart/obj/

src/Mshop.Core/.vs/
src/Mshop.Core/bin/
src/Mshop.Core/obj/

src/MShop.Domain/.vs/
src/Mshop.Domain/bin/
src/Mshop.Domain/obj/

src/MShop.Infra.Data/.vs/
src/MShop.Infra.Data/bin/
src/MShop.Infra.Datar/obj/

src/MShop.Infra.keycloak/.vs/
src/MShop.Infra.keycloak/bin/
src/MShop.Infra.keycloak/obj/


tests/MShop.Core.Test/.vs/
tests/MShop.Core.Test/bin/
tests/MShop.Core.Test/obj/

tests/Mshop.UnitTests/.vs/
tests/Mshop.UnitTests/bin/
tests/Mshop.UnitTests/obj/

tests/Mshop.IntegrationTest/.vs/
tests/Mshop.IntegrationTest/bin/
tests/Mshop.IntegrationTest/obj/

tests/Mshop.E2ETests/.vs/
tests/Mshop.E2ETests/bin/
tests/Mshop.E2ETests/obj/




